.content {
    font-size 20px
}
.sidebar {
    font-size 12px;
    font-weight: normal;
    background-color #fff
}
.sidebar  .sidebar-links  li  a.sidebar-link {
    font-size: 1.1em;
    line-height: 1.7;
    font-weight: normal;
}